body {
  background-image: url('hatter.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
}

.a{
    text-align: center;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}

.aleft{
	vertical-align: left; 
	text-align: center;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}
h1{
  font-family: Caflisch Script, Adobe Poetica, cursive;
  font-size: 40px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
p{
  font-family: Caflisch Script, Adobe Poetica, cursive;
  font-size: 25px;
  text-indent: 200px;
  
}
.p1{
  font-family: Caflisch Script, Adobe Poetica, cursive;
  font-size: 45px;
  text-align: left;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.p2{
  font-family: Caflisch Script, Adobe Poetica, cursive;
  font-size: 25px;
  text-indent: 500px;
  text-align: left;
}

button {
  border: 1px;
  color: black;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 4px 4px white;
  background-color: #4CAF50;
  border-radius: 8px;
}

.li{
  font-family: Caflisch Script, Adobe Poetica, cursive;
  font-size: 25px;
  text-indent: 200px;
}

#game-result, #game-details {
	text-align: center;
	text-indent: 0;
}
